/* reset start */
*{margin:0;padding:0;}
ul{list-style-type:none;}
a{ text-decoration: none;}
html,body{min-width:1000px;}

/* common start*/
.mt20{margin-top:20px;}
.mr10{margin-right:10px;}
.mr20{margin-right:20px;}
.mr5{margin-right:5px;}
.pl10{padding-left:10px;}
.pl20 {padding-left:20px;}
.pr20{padding-right:20px;}
.tal{text-align:left;}
.tac{text-align:center;}
.tar{text-align:right;}
.dib { display:inline-block;}
.l{ float:left;}
.r{ float:right;}
body {background-color:#F5F5F5; font: 12px/20px 'Microsoft yahei'; color: #666;}
.clearfix:before, .clearfix:after{content: ""; display:table; font-size:0; }
.header {background: #FFFFFF; box-shadow: 0 2px 4px 0 rgba(0,0,0,0.05);min-width:1000px;}
input[type=text]{border: 1px solid #ddd; height:38px; line-height:38px;padding-left:6px;}
input.err { border-color:#FF3333;}
.btn{display:inline-block;  height:40px; line-height:40px; text-align: center; color:#fff; font-size:14px; }
.wrap {margin:0 auto;max-width:1440px;/* min-width:1024px;*/}

.icon{display:inline-block; vertical-align: middle; margin-right:5px;}
.icon_err{width:14px; height:14px; background: url(../img/icon_error.png) no-repeat;}
.headerH{height:80px;  }

/*  login start */
.loginWrap {width:1000px; margin:0 auto; overflow: hidden;}
.logo{ width:323px; height:47px;margin-top:16px; background-image: url(../img/logo.png) }
.loginFormWrap {margin-top:40px; padding-top:95px; height:540px; background-color:#fff;}
.loginImg{width:540px; float:left; }
.loginImg img{margin-left:40px;}
.loginBox {width:460px;float:right;}
.loginformBox {padding-left:40px;padding-top:80px; height:250px;position:relative;}
.loginForm li{ margin-bottom:20px;}
.formTit{font-size: 20px;color: #000000;letter-spacing: 1px;text-align: center;line-height: 20px;}
.ipt_mobile{ width:340px;}
.ipt_valid {width:180px;}
.btn_valid{width:140px; margin-left:20px; background: #32BC68; letter-spacing: .7px; vertical-align: top;}
.submitbox { position:absolute; bottom:0;}
.btn_submit{width:340px; background: #2C82FF;box-shadow: 0 8px 20px 0 rgba(44,130,255,0.16); font-size:16px; letter-spacing: 15px;}
.err_tip {margin-top:5px;}
.err_tip span{display:inline-block; vertical-align: middle;}

/* aside start */
.conWrap{ margin-top:20px; overflow: hidden; font-size:16px;}
.asidebar { float:left; width:240px; padding-bottom:2000px; margin-bottom:-2000px; background: #FFF;box-shadow: 0 2px 4px 0 rgba(0,0,0,0.05); }
.section{margin-left:260px;min-height:650px; padding-bottom:2000px; margin-bottom:-2000px; background: #FFFFFF;box-shadow: 0 0 5px 5px rgba(0,0,0,0.01);}
.asidebar dt, .asidebar dd { cursor:pointer; font-size: 16px;line-height:50px;}
.asidebar dt{ background:#2C82FF; color: #FFFFFF; position:relative; text-indent:58px;}
.asidebar dd {text-indent:74px;color: #666666;letter-spacing: 0;}
.asidebar dd:hover, .asidebar dd.cur{color: #2C82FF;}
.icon_mail {position:absolute; width:20px; height:14px; background: url(../img/icon_mail.png) no-repeat; top:19px; left:20px;}
.icon_arr_down {position:absolute; top:22px; right:10px; width:14px; height:8px; background:url(../img/icon_arr_down.png);}
.user_exit { font-size: 14px;color: #7F7F7F;letter-spacing: 0;line-height:14px;margin-top:33px;}
.icon_exit{ width:12px; height:14px; background: url(../img/icon_exit.png); margin-left:5px; vertical-align: top;  margin-right: 20px;}

/*  mail_detail  start */
.backbar {padding-top:14px; padding-left:20px;}
.back{display:inline-block; width:86px; height:36px; line-height:36px; background: #FFFFFF;border: 1px solid #EEEEEE;box-shadow: 0 2px 4px 0 rgba(0,0,0,0.05);border-radius: 3px;font-size:16px;}
.icon_back { width:17px; height:12px; background: url(../img/icon_arr_back.png); margin-left:10px;margin-right:10px; margin-top:-2px;}
.maildetail { padding-left:30px; padding-right:20px;padding-bottom:20px;}
.detailInfo{ line-height:36px; margin-top:24px;}
.detailInfo .detail_tit{color:#000;}
.detail_article{line-height:32px;color:#2A2A2A;}
.detail_paragraph { text-indent: 20px;}
.mail_writer{ padding-right:70px;}
.attachment .attach_txt{font-family: PingFangSC-Medium;color:#000; margin-bottom:20px; margin-top:50px;}
.attachment a span{ color:#333;text-decoration: underline; vertical-align: middle;}
.icon_rar { background:url(../img/icon_rar.png); width:14px; height:16px; margin-right:8px;}

/* mail list */
.mail_table { padding:20px;}
.table_row {line-height:50px; cursor: pointer; text-align: center; overflow: hidden;}
dt.table_row, dt.table_row a{color:#333;}
dd.table_row:hover, dd.table_row:hover a, dd.table_row.cur, dd.cur a{color:#000;}
/*.mail_list:after {display:block; clear:both; content:'';height:0;}*/
.table_cell { float:left; text-overflow: ellipsis; overflow: hidden;white-space:nowrap;}
/*.table_cell span{display: inline-block;vertical-align: middle;line-height: 22px;white-space: normal; word-wrap: break-word;    word-break: break-all;}*/
.cell1 {width:10%;}
.cell2 {width:25%;}
.cell3 {width:30%;}
.cell4 {width:15%;}
.cell5 {width:10%;}
.cell6 {width:10%;}
.btn_page{display:inline-block; text-align: center; color: #7E8B85; line-height:38px; background: #FFF;border: 1px solid #EEE;border-radius: 4px;}
.btn_pageprev, .btn_pagenext{width:76px; height:40px;}
.btn_gopage {width:60px; height:38px;}
input.page_ipt{width:60px; background: #FFF;border: 1px solid #EEE;border-radius: 4px;}



